main {
  height: 100%;
  overflow: hidden;
}

mat-toolbar {
  text-transform: uppercase;
}

mat-toolbar mat-icon {
  margin: 0 10px;
}

contract-details {
  height: calc(100% - 64px);
}
