<mat-sidenav-container>
  <mat-sidenav #sidebar opened="true" mode="side">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
      <span>{{ network }}</span>
    </mat-toolbar-row>
    <mat-list>
      <mat-list-item *ngFor="let method of contract.methods">
        {{ method.name }}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section>

      <mat-card>
        <mat-card-title>{{ contract.name }}.sol</mat-card-title>
        <mat-card-subtitle *ngIf="contract.title">{{ contract.title }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="contract.author">@{{ contract.author }}</mat-card-subtitle>
      </mat-card>

      <mat-card *ngFor="let method of contract.methods">
        <contract-method [contract]="contract" [method]="method"></contract-method>
      </mat-card>

    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
