:host, mat-sidenav-container, mat-sidenav, mat-sidenav-content {
  display: block;
  height: 100%;
}

:host {
  overflow: hidden;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  overflow: auto;
  height: 100%;
  margin-bottom: 20px;
}

mat-toolbar-row {
  text-transform: uppercase;
}

mat-card {
  margin: 15px;
}

mat-card-content {
  padding-top: 20px;
}


code {
  padding: 15px;
}
