<section *ngIf="contract$ | async as contract" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-form-field>
    <input matInput [value]="contract.name" placeholder="Contract name" />
  </mat-form-field>

  <monaco-editor
    #editor
    class="mat-elevation-z10"
    theme="vs-dark"
    [file]="file"
    (fileChange)="code = $event.content"
    (keydown.control.s)="save($event, contract)">
  </monaco-editor>

  <button mat-raised-button routerLink="../view">Compile</button>
</section>
